.actors{
    display: flex;
    flex-direction: row;
    margin-top: 14%;
    justify-content: space-between;
    padding: 3%;
}

.cardAct{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    height: 350px;
    border-radius: 30px;
    background-color: rgba(49, 114, 187, 0.918);
    /* transform-style: preserve-3d ; */
}
.cardAct img{
    box-shadow: 10px;
    /* transform: rotate3d(1,0,0,60deg; */
    transform-style: preserve-3d;
}
.cardAct img:hover{
    transform:translate3d(2,2)
}
.text{
    font-family: 'Russo One', sans-serif;
    text-shadow: 2px 0px 5px rgb(100, 29, 43);
    transform: translateZ(200px);
    transform-style: preserve-3d ;
    text-transform: uppercase;
}
/* ///////////////////CARROUSEL///////////////////// */


.carrousel {
    width: 1080px;
    height: 400px;
    overflow: hidden;
    border: solid black 2px;
}

.sceneImg1, .sceneImg2, .sceneImg3, .sceneImg4 {
    width: 1080px;
    height: 400px;
    background-size: 100%;
}
.sceneImg1{
    background-image: url("../images/scenes1.jpeg");
}
.sceneImg2{
    background-image: url("../images/scenes2.jpg");
}
.sceneImg3{
    background-image: url("../images/scenes3.jpg");
}
.sceneImg4{
    background-image: url("../images/scenes4.jpg");
}