/* body {
    margin: 0px;
}
.navegador {
    background-color: rgb(209, 61, 61);
    font-family: Arial, Helvetica, sans-serif;
    padding: 1%;
    display: flex;
    flex-direction: row;
    justify-content: start;   
}

.navegador .desplegable, #menu {
    display: none;
}

#burger{
    box-sizing: border-box;
    display: inline-block;
    border-radius: 5px;
    width: 60px;
    height: 60px;
    user-select: none;
    background-size: 100%;
}

.desplegable {
    width: 400px;
    flex-direction: row;
    justify-content: space-between;
}

.desplegable a {
    position: absolute ;
    text-decoration: none;
    color: white;
} */
/*------------------------------------------------------------------------------------------------------*/

.visuallyhidden{
border-top: solid #414042;
}

.content{
    padding-top: 13%;
}

.moves-wrap {
    padding: 1%;
    border: solid #414042;
    display:flex;
    flex-direction:row;
    justify-content: center;
    flex-wrap: wrap;
}

.move {
    width: 33.333%;
    margin: 0 0 10px 0;
    max-width: 266px;
    margin: 0 auto 10px auto;
    border-radius: 20px;
    padding: 10px;
    border: solid black;
}

.move-name {
    margin: 0;
    padding: 8px;
    font-size: 16px;
    font-weight: normal
}

.move-content {
    padding: 18px 8px 14px 8px;
    background: #fff;
    color: #414042
}

.move-guitarist {
    margin: 0 0 16px 0;
    font-size: 30px;
    color: #de1e2c
}

.move-text {
    line-height: 20px;
    margin: 0;
    font-size: 16px
}

.moves-footer {
    clear: both;
    margin: 0;
    padding: 50px 10px;
    font-size: 28px;
    text-align: center;
    color: #de1e2c
}
/* //////////////////////FOORMSSS////////////// */
.forms{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 190vh;
    padding: 9%;
    border-radius: 20px;
    border: solid darkslategrey;
}
.formulary{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgba(166, 214, 218,0.5);
    width: 440px;
    width:46%;
    border-radius: 1%;
    padding: 1%;
    animation: show 2s alternate;
}
.form{
    display: flex;
    flex-direction: column;
    width:100%;
    /* width:40%; */
    
}
#form{
    width:85%;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    align-content: space-between;
}

#submit{
    background-color: #d6d3d8 0.4;
}

 #submit:hover {
    background-color:darkred !important;
    color:dimgrey;
    font-style: italic;
    font-size: medium;   
}
#submit:active{
    background-color: #de1e2c !important;    
    font-size: xx-large;   
}

#form input::placeholder { 
    color:blue;
    font-weight: bolder;
    font-variant: small-caps;
    opacity: 1; /* Firefox */
    text-shadow: 1px 3px 2px rgb(174, 229, 233);
  }

#form input{
    outline: none;
    font-style: italic;
    outline-style: none;
    border-radius: 30px;
    width:100%;
    border: solid 3px rgb(20, 20, 155);
    padding: 5%;
    margin: 2%;
}
#form input:focus,#form input:hover{
    background-color: #807f81;
    text-decoration: solid;
    text-indent: 2%;
    font-size: 90%;
    font-weight: bolder;
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 1s ;
}


#coment{
    height: 180px;
}

