header {
    font-family:'Segoe UI', cursive,'Courier new ',  monospace;
    width: 100%;
    padding-left: 33%;
    color: rgb(77, 64, 47);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: burlywood;
    border-bottom: rgb(112, 194, 166) solid 6px;
    border-block-end: 12%;
}
.total{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.botonera{
    align-content: center;
    
}
.funct button {
    align-content: space-around;
    flex-direction: row;
    background-color:cadetblue;
}
.botonera button {
    border:solid 1px black ;
    background-color: aquamarine;
    align-items: center;
    border:solid 1px black ;
}
.botonera h4{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: aquamarine;
    align-items: center;
    }
.inputs{
    display: none;
}
.canvas{
    border:solid 4px black ;
}